{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1" color="black">Carona Fat</span>
        </div>
      </nav>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carona Fat</title>
</head>
<body>
    <h1>Olá, Caroneiro</h1>
    <h2>Registre-se!</h2>
    <div>
        <!--Formulario de inscrição-->

<form action="login.html" method="POST"> 
    {% csrf_token %}
    <label for="nome">Nome:</label>
    <input type="text" name="Nome" placeholder="Digite nome aqui!"><br>

    <label for="email">Email:</label>
    <input type="text" name="Email" placeholder="Digite email aqui!"><br>

    <label for="matricula">Matricula:</label>
    <input type="text" name="Matricula" placeholder="Digite matricula aqui!!"><br>

    <label for="Gênero">Gênero:</label>
    <select >
        <option value="masculino">Masculino</option><br>
        <option value="feminino">Feminino</option><br>
    </select>

    <label for="Data de nascimento">Data de Nascimento:</label>
    <input type="date" name="data de nascimento"><br>

    <label for="senha">Senha:</label>
    <input type="password" name="senha"><br>

    <button type="submit">Enviar</button>

</form>
    </div>
    <div>
<hr>
<!--Imagens-->
        <img src="./static/logo Livia.jpg" alt="Projeto LIVIA"><br>
        <img src="./static/logo_uerj1.jpg" alt="Logo UERJ"><br>
    </div>
    <!--Copyright-->
    <footer>
        <p> Este documento está protegido por direitos autorais &copy; 2023 Projeto LIVIA.</p>
    </footer>

</body>
</html>